@charset "utf-8";
@import "minxins";

%box-position{
  position: absolute;
  top:0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

//弹屏
%bomb-screen{
  @include position-template(fixed,0,auto,0,auto);
  background-color: rgba(0,0,0,0.8);
  width: 100%;
}

//文字溢出省略
%overflow-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}



