@charset "utf-8";

@import "../base/_minxins.scss";

body{
  max-width: 750px;
}
/*****积分兑换结果*******/
.integral-change-result{
  @include position-template(fixed,0,auto,0,auto);
  width: 100%;
  background-color: #fff;
  font-family: "苹方 常规";
  .change-result-img{
    width: 35%;
    margin: 15% auto 0.5rem;
  }
  .change-result-text{
    text-align: center;
    margin-bottom: 0.94rem;
    p:nth-child(1){
      font-size: 0.4rem;
      color: #2f2f2f;
      margin-bottom: 0.24rem;
    }
    p:nth-child(2){
      font-size: 0.28rem;
      color: #6f6f6f;
    }
  }
  .change-result-btn{
    width: 4.84rem;
    font-size: 0.32rem;
    color: #fff;
    margin: 0 auto;
    position: relative;
  }
}