.elm-container{
    width: 100%;
    max-width: 640px;
    padding: 1rem;
    background-color: #fff;
}

.elm-title{
    color: #2f2f2f;
    font-size: 1.1rem;
}

.money-char{
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-indent: 1rem;
}

.input-money{
    border-bottom: 1px solid #e5e5e5;
}

.input-money input{
    border:none;
    outline: none;
    width: 100%;
    height: 3rem;
    font-size: 1.8rem;
    color: #2f2f2f;
    text-align: center;
}

.md-btn-center{
    width: 65%;
    height: 3rem;
    line-height: 3rem;
    margin: 10% 17.5% 5%;
    background-color: #e5e5e5;
    font-size: 1.2rem;
    border:none;
    outline:none;
    color: #6f6f6f;
}

.md-btn-center-active{

    background-color: #ed4529;
    color: #fff;
}


