@charset "UTF-8";
html {
  font-size: 16px; }

textarea, table, tr, td, div, span, a, input, ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

ul li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

.after:after {
  content: "";
  display: block;
  clear: both; }

.before:before {
  content: "";
  display: table; }

.hide {
  display: none; }

.show {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

@media screen and (min-width: 481px) {
  html {
    font-size: 18px; } }
@media screen and (min-width: 401px) and (max-width: 480px) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 321px) and (max-width: 400px) {
  html {
    font-size: 14px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 12px; } }
html {
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

@font-face {
  font-family: "PingFang";
  src: url("../font/PingFang Light.ttf"); }
body {
  font-family: "PingFang";
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #F3F3F3; }

.center_elm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vertical_center {
  position: absolute;
  left: auto;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.horizontal_center {
  position: absolute;
  left: 50%;
  top: auto;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

img {
  width: 100%;
  vertical-align: middle; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.product-description {
  height: 3rem;
  padding: 0 0.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: normal; }

/*浮动按钮*/
/*Menus*/
#gooey-upper .gooey-menu-item,
#gooey-upper .open-button {
  left: 50%;
  top: 50%; }

#gooey-round,
#gooey-API {
  position: fixed;
  right: 3rem;
  bottom: 10.5rem;
  z-index: 99999;
  margin-right: 2rem;
  padding-top: 2rem; }

.gooey-menu-item-icon {
  width: 50%; }

/* Responsive styles */
@media (max-width: 780px) {
  .code-example {
    margin-top: 5em; }

  #gooey-upper .gooey-menu-item,
  #gooey-upper .open-button {
    left: 44%;
    top: 70%; }

  #gooey-round .gooey-menu-item, #gooey-round .open-button {
    top: 50%; }

  .round-example {
    min-height: 20em; }

  .event-api-ex {
    min-height: 23em; }

  .vertical-example {
    min-height: 15em; }

  #gooey-round .open-button,
  #gooey-API .open-button,
  #gooey-round .gooey-menu-item,
  #gooey-API .gooey-menu-item {
    margin-top: 4em;
    margin-left: 1rem;
    margin-right: 2rem; }

  .gooeySVG {
    width: 0;
    height: 0; }

  #gooey-h .open-button,
  #gooey-h .gooey-menu-item {
    margin-top: .8em; } }
.gooey-menu-item-middle-one {
  transform: translate3d(-4rem, -3.6rem, 0px) !important; }

.gooey-menu-item-middle-two {
  transform: translate3d(0, -6rem, 0px) !important; }

.gooey-menu-item-middle-three {
  transform: translate3d(-6rem, 0.5rem, 0px) !important; }

/*# sourceMappingURL=common.css.map */
