body{
    background: #fff;
    position: relative;
}

/*登录页面背景图片******************************/
.bg{
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1000;
}
/*登录页面头部***************************************/
.login_header{
    width:100%;
    height:4rem;
    line-height: 4rem;
}
.login_top{
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}
.login_back{
    top:45%;
    left:1rem;
    width:0.8rem;
    height:3.2rem;
}
/*登录内容区域*********************************/
.login_content{
    height:35rem;
    padding-top:6rem;
}
.login_input{
    width:80%;
    height:3rem;
    margin:3rem 10% 2rem;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.15rem;
    outline: none;
    border-bottom:1px solid #F0F0F0;
}
.login_btn{
    width:80%;
    height:3rem;
    margin:3rem 10% 2rem;
    background-color: #9C9C9C;
    border: none;
    text-align: center;
    font-size: 1.15rem;
    outline: none;
    color:#fff;
}