/************首页搜索栏***************/
.header {
    position: fixed;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    z-index: 500;
    height: 3.5rem;
}

.header-left{
    position: relative;
    float: left;
    width: 15%;
    height: 3.5rem;
}


.header-left-text{
    position: absolute;
    bottom:0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}

.header-middle {
    width: 65%;
    float: left;
    height: 2rem;
    line-height: 2rem;
    border:0 solid;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, .8);
}

.header-middle-search{
    width: 70%;
    height: 2rem;
    margin-left: 20%;
    margin-right: 5%;
    border:none;
    outline: none;
    font-size: 1.1rem;
    background-color: transparent;
}

.header-right{
    position: relative;
    float: right;
    width: 15%;
    height: 3.5rem;
}

.icon-skin-code,.icon-msg,.icon-msg-active,.icon-skin-code-active{
    top:15%;
}

.icon-msg-num{
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    border:0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background-color: #ed4529;
}

.icon-search {
    width: 1.5rem;
    height: 1.5rem;
    left: 5%;
    background: url("../images/search/icon-search-active.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.icon-search-active {
    width: 1.5rem;
    height: 1.5rem;
    left: 5%;
    background: url("../images/search/icon-search-active-dark.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.icon-msg{
    width: 1.5rem;
    height: 1.5rem;
    background:url("../images/search/home_nav_news@3x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    right: 3%;
}

.icon-msg-active{
    width: 1.5rem;
    height: 1.5rem;
    background:url("../images/search/home_nav_news-dark@3x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    right: 3%;
}

/*五一首页 —— 扫描二维码*/
.icon-skin-code{
    width: 1.5rem;
    height: 1.5rem;
    background: url("../images/search/icon-erweima-white.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.icon-skin-code-active{
    width: 1.5rem;
    height: 1.5rem;
    background: url("../images/search/scan-@3x.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}


/**********************品牌馆*****************/
.brands{
    margin-top: .6rem;
    background-color: #fff;
    padding-bottom: .8rem;
}
.brands .brands-top{
    width:100%;
    height:3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    color: #323232;
}
.brands .brands-content{
    width: 90%;
    margin: 0 auto;
    border-top:1px solid #e7e7e7;
    border-left: 1px solid #E7E7E7;
}
.brands .brands-content .brands-img{
    width: 33.33%;
    height: 4.2rem;
    float: left;
    border-right:1px solid #e7e7e7;
    border-bottom: 1px solid #E7E7E7;
    overflow: hidden;
}

.brands .brands-content .brands-img img{
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

/*******全部分类*************************************/
.home-menu {
    width: 100%;
    background-color: #fff;
}
.home-menu .home-menu-item{
    float: left;
    width: 20%;
    padding: .6rem 0 .5rem;
}
.home-menu .home-menu-item .item-img{
    width:60%;
    margin: 0 auto;
}
.home-menu .home-menu-item .item-text{
    text-align: center;
    margin-top:.5rem ;
}

/*清除select默认样式*/
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    /*border: solid 1px #000;*/
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /*background: url("../images/bottom.png") no-repeat scroll right center transparent;*/
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }


.search-choose-elms{
    width:100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    padding-left: 1rem;
    outline: none;
    position: relative;
    z-index: 10;
    background-color: transparent;
}
.icon-bottom {
    width: 1rem;
    height: 1rem;
    right: 10%;
    background: url("../images/bottom.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 5;
}
.icon-bottom-rotate{
    transform: rotate(180deg) translate(0,50%);
}



input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url("../images/search/icon-clean.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}




/**********content***********************/
.content {
    padding: 0 0 4.1rem 0;
    width: 100%;
    max-width: 640px;
}
p {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/***********banner*********************/
.swiper-pagination-bullet-active {
    background: #ed4529 !important;
}
/*******sever*************************************/
.sever {
    margin-top: 0.6rem;
    width: 100%;
}
.sever_left {
    width: 49.5%;
    /*height: 13rem;*/
    margin-right: .5%;
    background-color: #fff;
    position: relative;
}
.sever_left .doc_img {
    top: 10%;
    width: 40%;
}
.sever_left .doc_text {
    bottom: 15%;
    width: 100%;
    text-align: center;
}
.p1 {
    font-size: 1.3rem;
    color: #2B2B2B;
}
.p2 {
    font-size: 1rem;
    color: #666666;
}
.sever_right {
    width: 50%;
    height: 100%;
}
.sever_right_elm {
    background-color: #fff;
    width: 100%;
    position: relative;
    height: 5.5rem;
}
.sever_right_img {
    left: 5%;
    width: 25%;
    height: 50%;
}
.sever_right_text {
    left: 32%;
    width: 70%;
    height: 50%;
}
/**********tuijain*********************************/
.tuijian {
    width: 100%;
    height: 20rem;
    background-color: #fff;
    margin-top: 0.6rem;
}
.tuijian_top {
    width: 100%;
    height: 4rem;
    position: relative;
    text-align: center;
    padding-top: 1rem;
}
.tuijian_top_img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    left: 33%;
}
.tuijian_goods {
    width: 100%;
    height: 14rem;
}
.tuijian_goods ul {
    width: 100%;
    margin-top: 1rem;
    height: 13rem;
}
.tuijian_goods_elm {
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    position: relative;
}
.tuijian_goods_img {
    width: 60%;
    top: 0;
}
.tuijian_goods_text {
    width: 100%;
    bottom: 0;
}
.price_new {
    color: #D93C27;
    font-size: 1rem;
}
.price_old {
    color: #929292;
    text-decoration: line-through;
    font-size: 0.6rem;
}
.goods_name {
    font-size: 1rem;
}
.button_buy {
    display: inline-block;
    padding: 0.1rem 1rem;
    border: 1px solid #D93C27;
    border-radius: 1rem;
    color: #D93C27;
    margin-top: 0.5rem;
}
/*******activity****************************************/
.activity {
    width: 100%;
    margin-top: 0.6rem;
}
.activity img{
    max-width: 210px;
    max-height: 100%;
}
.activity_left {
    height: 20rem;
    width: 49%;
    margin-right: 1%;
    position: relative;
}
.activity_left_item{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 9.9rem;
}
.activity_left_item:first-child{
    height: 20rem;
}
.activity_left_item:not(:last-child){
    margin-bottom: .2rem;
}
.activity_right {
    width: 50%;
}
.activity_right_elm:not(:last-child){
    margin-bottom: .2rem;
}
.activity_right_elm {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 9.9rem;
}
/*****member***************************************/
.member {
    width: 100%;
    height: 22rem;
    background-color: #fff;
    margin-top: 0.6rem;
}
.member_top {
    width: 100%;
    height: 6rem;
    line-height: 2rem;
    text-align: center;
    background: url("../images/huiyuan_bg.jpg") no-repeat;
    background-size: cover;
}
.member_top .p1 {
    padding-top: 1rem;
}
.member_top .p2 {
    position: relative;
}
.right_icon {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    background: url("../images/right_icon.png") no-repeat center;
    background-size: cover;
    top: 0.4rem;
    right: 37%;
}
.member_goods {
    width: 100%;
    height: 16rem;
    overflow: hidden;
}
.member_goods_elm {
    display: inline-block;
    width: 100%;
    height: 16rem;
    position: relative;
}
.member_goods_img {
    width: 50%;
    height: 8rem;
    top: 1.6rem;
}
.member_goods_text {
    width: 100%;
    height: 5rem;
    bottom: 1rem;
    text-align: center;
}
.member_goods_name {
    font-size: 1rem;
    color: #808080;
}
.member_goods_describe {
    font-size: 0.6rem;
    color: #808080;
}
.member_goods_price {
    color: #F07361;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}
/*******************热门科室***************************/
.hot-section{
    margin-top: .6rem;
    background-color: #fff;
}
.hot-title{
    width: 100%;
    height: 4rem;
    position: relative;
}
.hot-title-content{
    width:8rem;
    font-size: 1.2rem;
}
.hot-icon{
    width: 3rem;
    right: 0;
}
.hot-section-item{
    float: left;
    width: 50%;
    border-top: 1px solid #e3e3e3;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}
.hot-section-item:nth-child(even){
    border-left: 1px solid #e3e3e3;
}
.hot-section-item:nth-child(odd){
    border-left: 1px solid transparent;
}
.hot-section-img{
    width: 100%;
}
/***********product**********************************/
.product {
    width: 100%;
    height: 30rem;
    background-color: #fff;
    margin-top: 0.6rem;
}
.product_top {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
}
.product_top .p1 {
    width: 9rem;
}
.product_top .p2 {
    padding-right: 3rem;
    position: relative;
}
.product_top .p2 .right_icon {
    right: 1.5rem;
    top:50%;
}
.product_goods {
    width: 100%;
    height: 26rem;
}
.product_goods ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}
.product_goods_elm {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 13rem;
    position: relative;
    border-left: 1px solid #F3F3F3;
    border-top: 1px solid #F3F3F3;
}
.product_elm_img {
    width: 55%;
    height: 5rem;
    top: 1rem;
}

.product_elm_text {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    bottom:2rem;
}
.product_elm_text p {
    padding:0 0.8rem;
    /*white-space:nowrap;*/
    /*overflow:hidden;*/
    /*text-overflow:ellipsis;*/
}
.product_goods_price {
    color: #D93C27;
}
/******footer***********************************************/
.footer {
    position: fixed;
    max-width: 640px;
    width: 100%;
    bottom: 0;
    /*-webkit-display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    z-index: 999;
    background-color: #f9f9f9;
    height:3.5rem;
}
.footer-menu-label {
    float: left;
    color: #767676;
    font-size: 1rem;
    position: relative;
    height:3.5rem;
    width:25%;
    text-align: center;
}
.footer-menu-label-active {
    color: #D93C27;
}
.iconfont{
    width:22%;
    height: 1.5rem;
    display: block;
    top:0.5rem;
}
.icon_text{
    bottom:0.2rem;
    font-size:.8rem;
}



/*首页底部app下载广告*/
.download{
    position: fixed;
    bottom:4rem;
    width: 100%;
    max-width: 640px;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.6);
    height:4rem;
    z-index: 1000;
}
.app-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .5rem;
    overflow: hidden;
}
.download-text{
    left: 3.5rem;
    color: #fff;
}
.download-btn{
    right: 4rem;
    border-radius: 1rem;
    padding: .4rem .6rem;
    background-color: #ed4529;
    color: #fff;
}
.download-close{
    width: 1.5rem;
    height:1.5rem;
    background: url("../images/search/icon-clean.png") no-repeat center;
    -webkit-background-size:contain;
    background-size: contain;
    right: .5rem;
}
/*活动弹出屏*/
.activity-box{
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    z-index: 1100;
}
.activity-mask{
    position: absolute;
    width: 100%;
    top:0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
}
.activity-content{
    position: absolute;
    width: 75%;
    z-index: 200;
}
.activity-close-btn{
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    right: -2rem;
    top: -2rem;
    background: url("../images/close.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

















