.content {
    padding: 3rem 0 4.3rem;
    width: 100%;
    max-width: 640px;
}

.submit_header {
    width: 100%;
    max-width: 640px;
    height: 3rem;
    line-height: 3rem;
    background-color: #fff;
    position: fixed;
    z-index: 5;

}

.submit_top {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}

.submit_back {
    left: 1rem;
    width: 0.8rem;
}


/*用户信息*/
.user {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin-top: .8rem;
}

.user-border-top {
    height: .4rem;
    background: url("../images/letter-border.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.user-info {
    width: 85%;
    display: flex;
    justify-content: flex-start;

}

.user-info-contact {
    width: 20%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.user-info-other {
    width: 80%;
    height: 6.6rem;
    margin-left: .8rem;
    margin-top: 1rem;
}

.user-info-status {
    width: 60%;
    margin-top: .5rem;
    overflow: visible;
    text-overflow: clip;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 1rem;
    border: 1px solid #D93C27;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    color: #d93c27;
    text-align: center;
}

.user-info-address {
    height: 75%;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: normal;
}

.user-detail {
    width: 15%;
    height: 7.6rem;
    position: absolute;
    top: .4rem;
    right: 0;
}

.icon-detail {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: url("../images/order-right.png") center no-repeat;
    right: 40%;
}

.user-order {
    width: 100%;
    background-color: #fff;
    margin-top: .8rem;
}

.user-order-header {
    position: relative;
    width: 100%;
    height: 3.8rem;
    line-height: 3.8rem;
    border-top: 1px solid #E9E9E9;
}

.icon-top-left {
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/border-left-top.png") center no-repeat;
    background-size: contain;
}

.icon-shop {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    left: 7%;
    background: url("../images/shop-icon.png") center no-repeat;
    background-size: contain;
}

.user-shop-name {
    margin-left: 15%;
    font-size: 1.25rem;
}

.icon-top {
    width: 1.2rem;
    height: 1.2rem;
    right: 7%;
    background: url("../images/top.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;

}

.icon-top-rotate{
    transform: rotate(180deg);
    width: 1.2rem;
    height: 1.2rem;
    right: 7%;
    background: url("../images/top.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}


.user-order-product {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #E9E9E9;
}

.user-order-product-box{
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.user-order-product-img {
    width: 30%;
    background: url("../images/product.png") center no-repeat;
    background-size: contain;
    margin: 0 2.5%;
}

.user-order-product-info {
    width: 50%;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-order-product-name {
    width: 100%;
    height: 50%;
    line-height: 4rem;
}

.user-order-product-specification {
    width: 100%;
    height: 50%;
    color: #a5a5a5;
}

.user-order-product-num {
    width: 15%;
    height: 8rem;
    line-height: 6rem;
    text-indent: .8rem;
}

.user-order-memu {
    position: relative;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    justify-content: flex-start;
    font-size: 1.1rem;
    border-top: 1px solid #E9E9E9;
}

.user-order-memu-left {
    width: 40%;
    height: 3rem;
    color: #2f2f2f;
    margin-left: 5%;
}

.user-order-memu-right {
    width: 55%;
    height: 3rem;
    color: #a5a5a5;
    text-align: center;
}

.user-order-memu-right-price {
    width: 85%;
    color: #2f2f2f;
    text-align: right;
}

.icon-right-tran {
    right: 5%;
    display: block;
    width: 1.2rem;
    height: .8rem;
    background: url("../images/icon-right-tran.png") center no-repeat;
    background-size: contain;
}

.icon-right {
    right: 5%;
    display: block;
    width: 1.2rem;
    height: .8rem;
    background: url("../images/order-right.png") center no-repeat;
    background-size: contain;
}


.footer {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 3.5rem;
    line-height: 3.5rem;
    background-color: #fff;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
}

.footer-order-price {
    width: 55%;
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    font-size: 1.1rem;
}

.footer-order-price p {
    font-size: 1.3rem;
    color: #d93c27;
    text-indent: -.4rem;
}

.footer-order-submit-btn {
    width: 45%;
    height: 3.5rem;
    background-color: #ed4529;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
}


.text {
    color: #2f2f2f;
}

.icon-select-false {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    left: 7%;
    background: url("../images/icon-select-false.png") center no-repeat;
    background-size: contain;
}

.user-order-product-box-left{
    width: 20%;
}

.user-order-product-specification-price {
    margin-top: .4rem;
    text-indent: -.2rem;
    color: #d93c27;
}


.user-order-activity{
    position: relative;
    width: 100%;
    padding-left: 5%;
    margin-top: .5rem;
    background-color: #fff;
}

.user-order-activity-left{
    float: left;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    color: #ed4529;
}

.user-order-activity-right{
    float: right;
    width: 45%;
    height: 3rem;
    line-height: 3rem;
}

.activity-checkbox{
    width: 1.5rem;
    height: 1.5rem;
    right:5%;
    z-index: 1000;
    opacity: 0;
}

.icon-select-false {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    left: 7%;
    background: url("../images/icon-select-false.png") center no-repeat;
    background-size: contain;
}

.icon-select-true {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    left: 7%;
    background: url("../images/icon-select-true.png") center no-repeat;
    background-size: contain;
}

.user-order-activity-right i{
    right: 5%;
    left: auto !important;
}