.header {
    position: fixed;
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    height: 4rem;
    line-height: 4rem;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    z-index: 500;
}



.header-left {
    width: 10%;
}

.icon-back {
    width: 1.3rem;
    height: 1.3rem;
    background: url("../images/icon_left.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    left: 5%;
}

.header-right {
    position: relative;
    width: 85%;
    margin-left: 5%;
    height: 4rem;
    line-height: 4rem;
    border: none;
    outline: none;
}

.icon-search {
    width: 1.5rem;
    height: 1.5rem;
    left: 0;
    background: url("../images/search/search-active.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.header-right-search {
    width: 85%;
    height: 3rem;
    margin-left: 10%;
    margin-right: 5%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight:200;
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url("../images/search/icon-clean.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}



.fixed-swiper{
    width: 100%;
    max-width: 640px;
    overflow: hidden;
    position: fixed;
    z-index: 5;
    padding-top: 4rem;
}

.swiper-container1{
    text-align: center;
    background-color:#fff ;
    padding:1rem 0;
}
.swiper-container1 .swiper-slide{
    font-size: 1rem;
}
.swiper-container1 .active{
    color: #D93C27;
    font-size: 1.07rem;
}



.content {
    position: relative;
    width: 100%;
    padding-top: 7.8rem;
    padding-bottom: 1rem;
}


.product_goods {
    width: 100%;
}

.product_goods ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #F3F3F3;
    border-bottom: 1px solid #F3F3F3;
}

.product_goods_elm {
    float: left;
    box-sizing: border-box;
    width: 49%;
    height: 13rem;
    margin-top: .5rem;
    position: relative;
    background-color: #fff;
}

.product_goods_elm:nth-child(odd){
    margin-right: .5rem;
}

.product_elm_img {
    position: absolute;
    width: 55%;
    height: 5rem;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.product_elm_text {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    bottom: 2rem;
}

.product_elm_text p {
    padding: 0 0.8rem;
}

.product_goods_price {
    color: #D93C27;
}