body{
    background-color: #fff;
}

.header {
    position: relative;
    width: 100%;
    height: 15rem;
    background: url("../images/personal/club_bg@2x.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.user {
    position: absolute;
    width: 100%;
    height: 8rem;
}

.user-img {
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 5rem;
    overflow: hidden;
    border: .15rem solid #7155d0;
}

.user-name {
    position: absolute;
    top: 5rem;
    left: 8.5rem;
    color: #fff;
    font-size: 1.2rem;
}

.user-asset {
    position: absolute;
    top: 5rem;
    right: -1rem;
    width: 8rem;
    height: 2.2rem;
    line-height: 3.5rem;
    border-radius: 5rem;
    color: #fff;
    background-color: #562eb6;
}

.icon-asset {
    width: 1rem;
    height: 1rem;
    background: url("../images/personal/club_prop@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    margin-left: 1rem;
}

.asset-text {
    position: absolute;
    margin-left: 2.5rem;
}

.vip-info {
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: .5rem;
    border-top: 1px solid #7755d0;
}

.vip-items {
    width: 50%;
    float: left;
    color: #fff;
}

.items-title {
    font-size: .8rem;
    color: #e5e5e5;
}

.vip-num {
    font-size: 1.4rem;
    font-weight: 600;
}

.vip-num:nth-child(even) {
    border-right: 1px solid #7755d0;
}

.vip-content {
    position: absolute;
    top: 16rem;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    background-color: #fff;

}

.vip-content-title {
    width: 100%;
    text-align: center;
    color: #6f6f6f;
    border-bottom: 1px solid #e5e5e5;
}


.margin-well{
    width: 100%;
    height: 1rem;
    background-color: #f4f4f4;
}

.content-box {
    width: 33.33%;
    float: left;
    padding-bottom: 1rem;
}

.content-box-active{
    border-bottom:3px solid #633ac9;
}

.content-box-active p{
    color: #2f2f2f !important;
}

.vip-content-items {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
}

.icon-club-share {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/personal/club_share_normal@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.icon-vip-mine {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/personal/club_member_normal@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.icon-input-detail {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/personal/club_income_normal@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.vip-content-items p {
    margin-top: 5rem;
    color: #6f6f6f;
}

.content-box-active .icon-club-share {
    background: url("../images/personal/club_share_selected@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.content-box-active .icon-vip-mine {
    background: url("../images/personal/club_menber_selected@2x.png") center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.content-box-active .icon-input-detail {
    background: url("../images/personal/club_income_selected@2x.png") center no-repeat ;
    -webkit-background-size: contain;
    background-size: contain;
}

.share-item{
    width: 20%;
    margin: 1.5rem;
    float: left;

}

.share-item p{
    text-align: center;
}


/*复制链接*/
.share-code-box,.share-code-container{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.5);
    z-index: 100;
}

.share-code{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:url("../images/share-code.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    z-index: 200;
}

.code-box{
    width: 10rem;
    height: 10rem;
}

.code-container{
    width: 14rem;
    height: 10rem;
}

.code-container textarea{
    width: 100%;
    height: 100%;
}

.copy-code-tips{
    text-align: center;
    color: #a5a5a5;
}


.icon-close{
    width: 3rem;
    height: 3rem;
    background: url("../images/share-close.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    bottom: 20%;
}

.copy-code{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:url("../images/club_pop_code@2x.png") center no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
    z-index: 200;
}


/*我的会员页面*/
.vip-mine{
    position: relative;
    padding: .5rem;
    border-bottom: 1px solid #e5e5e5;
}
.vip-img{
    float: left;
    width: 4rem;
    height: 4rem;
    border:1px solid #fff;
    border-radius: 4rem;
    overflow: hidden;
}

.vip-name{
    float: left;
    margin-left: .5rem;
}

.record-time{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
}




/*收入明细页面*/
.consume-data{
    width: 100%;
    height: 5rem;
    color: #2f2f2f;
    border-bottom: 1px solid #e5e5e5;
}

.data-left{
    float: left;
    width: 45%;
    height: 5rem;
    padding: .5rem;
}

.consume-money{
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #ed4529;
    font-size: 1.3rem;
    font-weight: 600;
}

.consume-money span{
    font-size: .9rem;
}

.data-user{
    padding: .5rem;
}

.data-right{
    position: relative;
    float: right;
    width: 55%;
    height: 5rem;
}

.data-user-img{
    float: left;
    margin-left: 45%;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid #fff;
    overflow: hidden;
}

.data-user-name{
    float: right;
    height: 2rem;
    line-height: 2rem;
    margin-right: 1rem;
}

.data-time{
    float: right;
    margin-right: 1rem;
    font-size: .9rem;
    padding: .5rem 0;
}

