
.center-box {
	width:1200px;
	margin: 0 auto;
	position: relative;
}

/*swiper 公用*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
/*    -webkit-align-items: center;
    align-items: center;*/
}

.swiper-container-1 .swiper-pagination-bullet {
 width: 37px;
 height: 5px;
 border-radius: 2px;
}
.swiper-container-2 .swiper-pagination-bullet {
 width: 25px;
 height: 5px;
 border-radius: 2px;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #209fff;
}

/*
* 跳转移动端悬浮
* 右侧悬挂
*/
.section-3-menu {
	position: relative;
}
.palm-speed {
	width: 164px;
	padding:0 13px;
	background-color: #fff;
	height: 418px;
	position: absolute;
	right: 0;
	top: 56px;
	z-index: 2;
	left: 50%;
	margin-left:410px;
}
.palm-speed .speed-menu {
	padding-top:28px;
}
.palm-speed .speed-menu span {
	display: block;
	width: 50%;
	text-align: center;
	float:left;
	position: relative;
	height:96px;
}
.palm-speed .speed-menu span i {
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	left: 50%;
	margin-left: -25.5px;

}
.palm-speed .speed-menu em {
	display: block;
	text-align: center;
	top:57px;
	position: absolute;
	width:100%;
}

.palm-speed .speed-ewm {
	text-align: center;
	border-top: 1px dashed #bfbfbf;
	position: absolute;
	bottom: 18px;
	padding-top:8px;
	font-size: 14px;
}
.palm-speed .speed-ewm img {
	width: 96%;
}


/*
* 水平菜单栏
*/

.home-menu {
	width: 100%;
	height: 40px;
	background-color: #036dde;
	
}

.home-center-ctrl {
	width: 1200px;
	margin:0 auto;
	position: relative;
}

.home-menu-inner {
	position: absolute;
	left: 190px;
	top:0;
}
.home-menu-inner a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	width: 144.2px;
	text-align: center;
	line-height: 40px;
	display: block;
	float: left;
	box-sizing: border-box;
}
.home-menu-inner .hover-move {
	width: 80px;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.46);
	display: block;
	position: absolute;
	bottom: 0;
	left: 32px;
}
/*
* 折叠菜单
*/
.menu-all-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: 0px -30px;
}
.menu-zxyp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -24px -30px;
}
.menu-ylqx-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -57px -30px;
}
.menu-zyyp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -89px -30px;
}
.menu-bjsp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -118px -30px;
}
.menu-jjry-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -147px -30px;
}
.menu-zbp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -177px -30px;
}
.menu-cryp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -208px -30px;
}
.menu-ykyy-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -240px -30px;
}

.more-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -279px -30px;
}
.go-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -90px 0px;
}
/*鼠标移动的状态*/

.show-list.active .menu-li .menu-zxyp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -24px -60px;
}
.show-list.active .menu-li .menu-ylqx-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -57px -60px;
}
.show-list.active .menu-li .menu-zyyp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -89px -60px;
}
.show-list.active .menu-li .menu-bjsp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -118px -60px;
}
.show-list.active .menu-li .menu-jjry-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -147px -60px;
}
.show-list.active .menu-li .menu-zbp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -177px -60px;
}
.show-list.active .menu-li .menu-cryp-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -208px -60px;
}
.show-list.active .menu-li .menu-ykyy-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -240px -60px;
}

.show-list.active .menu-li .more-icon {
	background-image: url(../images/sprite-01-new.png);
	background-position: -279px -60px;
}








.menu-zhedie {
	width: 190px;
	position: absolute;
	top: 0;
	left: 0;
	z-index:10;
}
.show-content {
	width:190px;
	height: 450px;
	background-color: rgba(24, 24, 24, 0.85);
}
.show-content.active {
	display: none;
}

.showall {
	width: 190px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: #065bb6;
	text-align: center;
	position: relative;
	font-size: 14px;
}
.showall:hover {
	cursor: pointer;
}
.showall i {
	display: block;
	width: 23px;
	height: 19px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -10px;	
}
.show-list {
	position: relative;
}
.show-list:hover {
	cursor: pointer;
}
.show-list.active .menu-li {
	background-color: #fff;
	color: #036dde;
}
.menu-li {
	display: block;
	width: 100%;
	line-height: 56px;
	height: 56px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	position: relative;
}
.menu-li i {
	display: block;
	width: 23px;
	height: 19px;
	position: absolute;
	left: 19px;
	top: 50%;
	margin-top: -10px;
}
.menu-li em {
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 19px;
	top: 50%;
	margin-top: -6px;
}

.show-list-item {
	position: absolute;
	display: none;
	top: 0;
	left: 190px;
	width: 970px;
	height: 410px;
	padding: 40px 0 0 40px;
	overflow: hidden;
	background-image: url(../images/menubg.jpg);
}
.show-list-item .list-item {
	width: 205px;
	height: 130px;
	float:left;
	padding-right: 90px;
}
.show-list-item .list-item h3 {
	font-size: 14px;
	color: #3f3f4d;
	padding-bottom:14px;
}
.show-list-item .list-item a {
	text-decoration: none;
	color: #83868a;
	font-size: 12px;
	margin-bottom: 5px;
	padding-right: 5px;
	border-right: 1px solid #83868a;
	margin-right: 5px;
	display: block;
	float: left;
	text-align: center;
}
.show-list-item .list-item a.hot {
	color: #f67a00;
}
.show-list-item .list-item a:last-child {
	border:none;
}
/*头部 共用样式 一 */
.section-1 {
	width: 100%;
	height:36px;
	border-bottom: 1px solid #eeeeee;
	background-color: #f5f5f5;
	line-height: 36px;
}
.section-1 h3 {
	position: absolute;
	left: 0;
	line-height: 36px;
}
.section-1 h3 span {
	color:#1893f0;
}
.section-1 .top-layout {
	position: absolute;
	right: -15px;
	line-height: 36px;

}
.section-1 .top-layout span {
	float:left;
	display: block;
	padding:0 15px;
}
.phone-service {
	position: relative;
}
.phone-service:before {
	display: block;
	content:"";
	width: 15px;
	height: 15px;
	float: left;
	margin: 12px 10px 0 0;
}


/*头部  logo 区域 共用样式 一 */
.section-2 {
	width: 100%;
	height: 100px;
	background-color: #fff;
}
.section-2 #logo {
	position: absolute;
	left: 0;
	top: 0;
}
.section-2 .search-sec {
	width: 820px;
	position: absolute;
	right: 0;
	top: 22px;
}

.search-form {
	width: 550px;
	position: relative;
}
.search-form .search-input {
	width: 428px;
	padding-left: 30px;
	height: 33px;
	border:2px solid #036dde;
	border-radius:2px 0 0 2px;
	float:left;
	color: #bcbfc8;
	font-size: 14px;
	background: url(../images/search-icon.png) no-repeat 10px center;
}
.search-form .search-btn {
	width: 88px;
	height: 37px;
	font-size: 14px;
	text-indent: 23px;
	border:none;
	color: #fff;
	border-radius:0 2px 2px 0;
	background: #036dde url(../images/search-icon2.png) no-repeat 16px center;
}
.search-menu {
	margin-top: 8px;
	width: 100%;
	position: absolute;
	left: -15px;
}

.search-menu a {
	padding: 0 15px;
	border-right: 1px solid #d7d7d7;
}
.search-menu a:last-child {
	border:none;
}
.search-sec .cart {
	position: absolute; 
	right: 0;
	width: 122px;
	height: 34px;
	border: 1px solid #e0e0e0;
	top: 0;
	border-radius: 2px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
}
.search-sec .cart:hover {
	cursor: pointer;
}
.search-sec .cart .cart-icon {
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	float:left;
	top: 9px;
	left: 12px;
}
.search-sec .cart span {
	padding-left: 12px;
}
.search-sec .cart span em {
	color: #f67a00;
	font-weight: bold;
	padding-left:5px;
}
.search-sec .cart .go-icon {
	display: block;
	position: absolute;
	width: 5px;
	height: 8px;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}
/* 产品 共用样式 一 */

.goods-cm-item {
	width: 202px;
	height: 239px;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
	float: left;
	background-color: #fff;
}
.goods-cm-item i {
	display: block;
	width:100%;
	height:165px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.goods-cm-item i img {
	width: 100%;
}
.goods-cm-item p {
	font-size: 12px;
	color: #3f3f4d;
	line-height: 18px;
	padding: 0 15px;
	text-align: center;
}
.goods-cm-item span {
	display: block;
	font-size: 14px;
	color:#ed4529;
	padding: 6px 15px 0;
	text-align: center;
}
.goods-cm-item span em {
	font-style: normal;
}

/* 产品 共用样式 二 */

.goods-cm2-item {
	width: 199px;
	height: 240px;
	border-right: 1px solid #ececec;
	float: left;
	background-color: #fff;
}
.goods-cm2-item i {
	display: block;
	width:100%;
	height:165px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.goods-cm2-item i img {
	width: 100%;
}
.goods-cm2-item p {
	font-size: 12px;
	color: #83868a;
	line-height: 18px;
	padding: 0 15px;
}
.goods-cm2-item span {
	display: block;
	font-size: 14px;
	color:#ed4529;
	padding: 6px 15px 0;
}
.goods-cm2-item span em {
	font-style: normal;
}
/* 产品 共用样式 三 */

.goods-cm3-item i {
	display: block;
	width:100%;
	height:200px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
.goods-cm3-item i img {
	width: 100%;
}
.goods-cm3-item p {
	font-size: 12px;
	color: #3f3f4d;
	line-height: 18px;
	padding: 0 15px;
	margin-top: 6px;
	text-align: left;
}
.goods-cm3-span {
	display: block;
	font-size: 16px;
	color:#ed4529;
	text-align: left;
	padding: 6px 15px 0;
}
.goods-cm3-span .yuan-price {
	font-size: 16px;
	float:left;
}
.goods-cm3-span .yuan-price em {
	font-weight: bold;
	font-size: 20px;
}
.goods-cm3-span .old-price {
	color:#999999;
	text-decoration:line-through;
	float:left;
	font-size: 12px;
	padding-top: 7px;
	padding-left: 10px;
}
.goods-cm3-span .ping-user {
	width: 100%;
	font-size: 12px;
	color: #999999;
	padding-top: 3px;
}
/*通用底部*/

.footer {
	width: 100%;
	background-color: #036dde;
	color: #fff;
	height: 452px;
	margin-top: 30px;
	position: relative;
	float:left;
}

.main-center {
	width: 1200px;
	margin:0 auto;
}
.brand-list {
	height: 104px;
	border-bottom: 1px solid #2983e3;
}
.brand-list .brand-item {
	width: 200px;
	float: left;
	margin-top: 28px;
}
.brand-list .brand-item i {
	display: block;
	width: 34px;
	height: 39px;
	float:left;
	margin-right: 15px;
	margin-left: 25px;
}
.brand-list .brand-item h3 {
	font-size: 16px;
}
.brand-list .brand-item span {
	font-size: 12px;
	color: #afd6ff;
	padding-top: 8px;
	display: block;
}
.footer-bottom {
	position: relative;
}
.ft-menus {
	width: 750px;
	float:left;
	margin-top: 40px;
	padding-right: 43px;
	border-right:1px solid #2983e3;
	margin-right: 70px;
	margin-left: 25px;
}
.ft-menu {
	width: 150px;
	float: left;
}
.ft-menu h3 {
	font-size: 15px;
	padding-bottom: 18px;
}
.ft-menu a {
	display: block;
	color: #fff;
	line-height: 24px
}

.ft-ewm {
	float:left;
	margin-top: 32px;
	position: absolute;
	right: 0;
}
.ft-ewm .ft-ewm-item {
	width: 106px;
	float:left;
	text-align: center;
	margin-left: 40px;
}
.ft-ewm .ft-ewm-item span {
	display: block;
	padding-bottom: 15px
}

.copyright {
	width: 100%;
	position: absolute;
	bottom: 0;
	height:100px;
	background-color: #0a59ae;
	text-align: center;
	padding-top: 20px;
	color: #90c5ff;	
}
.cr-menu a {
	color: #90c5ff;
	padding:0 15px;
	border-right: 1px solid #90c5ff;
}
.cr-menu a:last-child {
	border:none;
}
.copyright p {
	padding-top: 15px;
}





/*  公用   */

.bread-menu {
	width: 1200px;
	margin: 15px auto 0;
}
.bread-menu i {
	display: block;
	width:14px;
	height: 11px;
	float:left;
	margin-right: 10px;
	margin-top:3px;
}
.bread-menu a {
	padding: 0 5px;
}
.bread-menu a.active,.bread-menu a:hover {
	color: #036dde;
}
.bread-menu a span {
	float: left;
}
.bread-menu a:after {
	content: "";
	width: 5px;
	height: 8px;
	display: block;
	float:left;
	margin: 5px 10px 0;
}
.bread-menu a:last-child:after {
	background:none;
}


.page-list {
	margin-top: 40px;
	width: 370px;
	float:right;
}
.page-list span {
	display: block;
	width: 58px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	float:left;
	border:1px solid #e0e0e0;
}
.page-list span.prev-page {
	margin-right: 10px;
}
.page-list a {
	display: block;
	width: 28px;
	height: 28px;
	border:1px solid #e0e0e0;
	float:left;
	margin-right: 10px;
	text-align: center;
	line-height: 28px;
}
.page-list a.active {
	background-color: #036dde;
	border:1px solid #036dde;
	color: #fff;
}

/*商务通*/
.swt-wrapper {
	position: fixed;
	top: 20%;
	width: 100%;
	z-index: 99;
}
.swt-left {
	width: 44px;
	position: absolute;
	left: 0;
}
.swt-left .new-guider-title {
	width: 44px;
	float:left;
	margin-bottom: 2px;
	position: relative;

}
.swt-left .new-guider-title span {
	position: absolute;
	color: #fff;
	font-size: 13px;
	top: 50px;
	display: block;
	left: 11px;
}
.swt-left .new-guider-title i {
	display: block;
	width: 66px;
	height: 93px;
	position: absolute;
	top: 0;
	left: 0;
}
.new-guider-list {
	float:left;
	margin-top:93px;
	margin-left: 2px;
}
.new-guider-list a {
	display: block;
	width: 44px;
	height: 42px;
	padding-top:8px;
	text-align:center;
	margin-top: 2px;
	background-color: #fff;
}
.new-guider-list a:hover {
	background-color: #ebb700;
	color:#fff;
}
.swt-right {
	top: -100px;
	width: 170px;
	position: absolute;
	right: 0;	
}
.swt-right-top {
	position: relative;
	float:left;
}
.swt-right-top .close-swt {
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 115px;
	left: 10px;
}
.swt-right-top .close-swt:hover {
	cursor: pointer;
}
.online-doc {
	width: 96px;
	height: 26px;
	position: absolute;
	top: 120px;
	left: 40px;
	background-color: #fff100;
	border-radius: 50px;
	font-size: 14px;
	border:none;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
.online-doc:hover {cursor: pointer;}
.swt-right-top p {
	color: #fff;
	font-size: 13px;
	position: absolute;
	top: 155px;
	left: 15px;
	text-align: center;
}
.swt-right-bm {
	width: 170px;
	float:left;
	position: relative;
	margin-top: 25px;
}
.doc-ask {
	width: 16px;
	height: 95px;
	position: absolute;
	right: 0;
	color: #fff;
	font-size: 16px;
	padding:10px 18px 0;
	background: url(../images/swt_09.png) no-repeat;
}
.doc-ask-list {
	background-color: #fff;
	width: 52px;
	border:1px solid #e5e5e5;
	border-right: none;
	border-radius: 2px 0 0 2px;
	position: absolute;
	right: 0;
	top: 115px;
}
.doc-ask-list span {
	display: block;
	width: 25px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 0 15px;
	float:left;
	height: 64px;
}

.close-swt {
	background-image: url(../images/sprite-01-new.png);
	background-position: -180px -190px;
}
.doc-ask-list span {
	position: relative;
}
.doc-ask-list span:last-child {
	border:none;
}
.doc-ask-list span:hover {
	cursor: pointer;
}
.doc-ask-list span i {
	position: absolute;
	top: 50%;
	left: 50%;
}
.doc-qs {
	display: block;
	width: 18px;
	height: 20px;
	margin-top: -10px;
	margin-left: -9px;
}
.doc-phone {
	display: block;
	width: 14px;
	height: 20px;
	margin-top: -10px;
	margin-left: -7px;
}
.doc-online {
	display: block;
	width: 14px;
	height: 13px;
	margin-top: -6px;
	margin-left: -7px;
}
.doc-hide {
	display: block;
	width: 14px;
	height: 8px;
	margin-top: -4px;
	margin-left: -7px;
}



.copyright-login {
	width: 100%;
	height:100px;
	text-align: center;
	padding-top: 30px;
}
.copyright-login .cr-menu-login a {
	padding:0 15px;
	border-right: 1px solid #83868a;
}
.copyright-login .cr-menu-login a:last-child {
	border:none;
}
.copyright-login p {
	padding-top: 10px;
}

/*悬浮搜索产品框*/

.top-search-hide {
	z-index: 99;
	width: 100%;
	height: 80px;
	background-color: rgba(3, 109, 222, 0.95);
	position: fixed;
	top:0;
	left: 0;
	color: #fff;
	display: none;
}
.top-search-center {
	width: 1200px;
	margin:0 auto;
	position: relative;
}
#ogo_2 {
	position: absolute;
	left: 0;
	top: 0;
}
.search-form_2 {
	width: 550px;
	position: absolute;
	right: 263px;
	top: 22px;
}
.search-form_2 .search-input {
	width: 428px;
	padding-left: 30px;
	height: 33px;
	border:2px solid #fff;
	border-radius:2px 0 0 2px;
	float:left;
	color: #bcbfc8;
	font-size: 14px;
	background:#fff url(../images/search-icon.png) no-repeat 10px center;
}
.search-form_2 .search-btn {
	width: 88px;
	height: 37px;
	font-size: 14px;
	text-indent: 23px;
	border:none;
	color: #fff;
	border-radius:0 2px 2px 0;
	background: #ffbe23 url(../images/search-icon2.png) no-repeat 16px center;
}
.top-search-hide .cart {
	background-color:#2882e3; 
	position: absolute; 
	right: 0;
	width: 122px;
	height: 34px;
	border: 1px solid #e0e0e0;
	top: 22px;
	border-radius: 2px;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
}
.top-search-hide .cart:hover {
	cursor: pointer;
}
.top-search-hide .cart .cart-icon_white {
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	float:left;
	top: 9px;
	left: 12px;
}
.top-search-hide .cart span {
	padding-left: 12px;
}
.top-search-hide .cart span em {
	color: #f67a00;
	font-weight: bold;
	padding-left:5px;
}
.top-search-hide .cart .go-icon {
	display: block;
	position: absolute;
	width: 5px;
	height: 8px;
	right: 10px;
	top: 50%;
	margin-top: -4px;
}












