
/*
* swiper 图片展示
*/
.banner-swiper {
	position: relative;
	height: 450px;
	width: 100%;
}

/*swiper-container-1*/

.swiper-center-ctrl {
	position: absolute;
	width: 820px;
	height: 450px;
	left: 50%;
	margin-left: -410px;
	top:0;
}

.swiper-center-ctrl .swiper-button-next {
	right: 0;
	width: 28px;
	height: 53px;
	background: url(../images/next.png);
}
.swiper-center-ctrl .swiper-button-prev {
	left: 0;
	width: 28px;
	height: 53px;
	background: url(../images/prev.png);
}

/*swiper-container-2*/

.goods-banner {
	width: 360px;
	height: 479px;
	float:left;
	border-bottom:1px solid #eeeeee;
	overflow: hidden;
}

.hor-banner {
	width: 1200px;
	margin: 30px auto 0;
}



/*
* 首页产品推荐
*/
.section-5-recommend {
	width: 1200px;
	margin: 30px auto 0;
	
}
.recommend-menu {
	width: 100%;
	border-bottom: 2px solid #ea5252;
	height: 36px;
	position: relative;
}
.recommend-menu .signal {
	display: block;
	width: 81px;
	height: 56px;
	position: absolute;
	right: 3px;
	bottom: 0;
}

.recommend-menu .recommend-list {
	float: left;
	width: 151px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.recommend-menu .recommend-list:hover {
	cursor: pointer;
}
.recommend-menu .recommend-list.active {
	color: #fff;
}
.recommend-menu .recommend-list i {
	position: absolute;
	display: block;
	width:18px;
	height: 18px;
	top: 10px;
	left: 20px;
}

.recommend-goods {
	position: relative;
	width: 1198px;
	overflow: hidden;
	height: 240px;
	border:1px solid #ececec;
	border-top:none;
}
.for-border {
	position: absolute;	
	left: 0;
	width:1200px;
}





















